
a {
    display: flex;
    background-color: chocolate;
    width: 500px;
}

h2 {
    display: inline-block;
    width: 200px;
    background-color: chartreuse;
}

.box {
    width: 250px;
    height: 250px;
}

.box1 {
    background-color: blueviolet;
}

.box2 {
    background-color: blue;
}

.box3 {
    background-color: peru;
}

.box4 {
    background-color: cadetblue;
}