<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Basic</title>

    <!-- Styles -->
    <link rel="stylesheet" href='./css/global-styles.css' />
    <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
    <div class="menu">
        <div class="menu__logo">
            <img class="menu__logo-img" src="./img/logo-nc.png" alt='Logo' />
            <h4 class="menu__logo-company">NEWSOFT COMPUTER</h4>
        </div>
        <nav class="menu__nav">
            <a href="#section-header">
                <div class="menu__nav-i">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#FFFFFF"><title>shield-home</title><path d="M11,13H13V16H16V11H18L12,6L6,11H8V16H11V13M12,1L21,5V11C21,16.55 17.16,21.74 12,23C6.84,21.74 3,16.55 3,11V5L12,1Z" /></svg>
                    <p class="p-inicio">INICIO</p>
                </div>
            </a>
            <a href="#section-about">
                <div class="menu__nav-i">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#FFFFFF"><title>shield-home</title><path d="M11,13H13V16H16V11H18L12,6L6,11H8V16H11V13M12,1L21,5V11C21,16.55 17.16,21.74 12,23C6.84,21.74 3,16.55 3,11V5L12,1Z" /></svg>
                    <p>ABOUT</p>
                </div>
            </a>
            
            <a href="#section-services">
                <div class="menu__nav-i">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#FFFFFF"><title>shield-home</title><path d="M11,13H13V16H16V11H18L12,6L6,11H8V16H11V13M12,1L21,5V11C21,16.55 17.16,21.74 12,23C6.84,21.74 3,16.55 3,11V5L12,1Z" /></svg>
                    <p>SERVICES</p>
                </div>
            </a>
            <a href="#section-team">
                <div class="menu__nav-i">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#FFFFFF"><title>shield-home</title><path d="M11,13H13V16H16V11H18L12,6L6,11H8V16H11V13M12,1L21,5V11C21,16.55 17.16,21.74 12,23C6.84,21.74 3,16.55 3,11V5L12,1Z" /></svg>
                    <p>TEAM</p>
                </div>
            </a>
            
            <a href="#section-footer">
                <div class="menu__nav-i">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#FFFFFF"><title>shield-home</title><path d="M11,13H13V16H16V11H18L12,6L6,11H8V16H11V13M12,1L21,5V11C21,16.55 17.16,21.74 12,23C6.84,21.74 3,16.55 3,11V5L12,1Z" /></svg>
                    <p>FOOTER</p>
                </div>
            </a>
        </nav>
    </div>
    <header class="header" id="section-header">

    </header>
    <section class="section__about" id="section-about">

    </section>
    <section class="section__services" id="section-services">

    </section>
    <section class="section__team" id="section-team">

    </section>
    <footer class="section__footer" id="section-footer">

    </footer>
</body>
</html>