/* 
POSITION ABSOLUTE

1. No respeta los espacios de los elementos vecinos
2. No es bloque en en inline-bloq
3. Toma coma referncia al contenedor padre y si no tiene
toma al body o html
*/
.main1 {
    /* position: relative;
    width: 500px;
    height: 500px;
    background-color: blue; */
}

.main2 {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 200px;
    background-color: aquamarine;
}

.box {
    width: 250px;
    height: 250px;
}

.box1 {
    position: absolute;
    left: 200px;
    background-color: chocolate;
}

.box2 {
    position: absolute;
    left: 200px;
    background-color: chartreuse;
}