
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Document </title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="container">
        <div class='container__title'>
            <h3> Lorem ipsum </h3>
        </div>
    
    <nav class="container__nav">
        <a href="#header">
            <div>
                <p> Lorem </p>
            </div>
        </a>

        <a href="#section">
            <div>
                <p> ipsum </p>
            </div>
        </a>

        <a href="#footer">
            <div>
                <p> sit </p>
            </div>
        </a>
    </nav> 
</div>

    <header id="header" class="section__header">

    </header>
    
    <section id='section' class="section__about">

    </section>

    <footer id='footer' class="section__footer">

    </footer>
    
</body>

</html>