
/*
RELATIVE POSITION

1. Respeta los espacios de sus elementos vecinos
2. La posicion relativa es bloque y no pierde sus medidas
3. Toma como referencia el contenedor padre y si no tiene
toma el body o el html
*/

.main {
    position: relative;
    left: 200px;
    width: 500px;
    height: 500px;
    background-color: aquamarine;
}

.box {
    width: 250px;
    height: 250px;
}

.box1 {
    position: relative;
    background-color: chocolate;
    left: 300px;
}

.box2 {
    position: relative;
    background-color: chartreuse;
    left: 50px;
}