<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css"/>
</head>

<body>
    <div class="ejemplo__menu">
        <div class="ejemplo__menu1">
            <div class="ejemplo__menu-logo">
                <h3>LOGO COMPANY</h3>
            </div>
            
            <div class="ejemplo__menu-menu" >
                <a href="#encabezado"><h4> Registro | </h4></a>
                <a href="#seccion1"><h4> Multimedia | </h4></a>
                <a href="#seccion2"><h4> ¿Quienes Somos? | </h4> </a>
                <a href="#seccion3"><h4> Contactanos | </h4></a>

            </div>
            <div class="ejemplo__menu-buscador">
                <input type="text" placeholder="Buscar">
            </div>
        </div>
    </div>
    <header class="ejemplo__encabezado" id="encabezado">
        SOY UN ENCABEZADO
    </header>
    <section class="ejemplo__seccion1" id="seccion1">
        <h3>
            seccion1
        </h3>
    </section >
    <section class="ejemplo__seccion2" id="seccion2">
        <h3>
            seccion2
        </h3>
    </section>

    <footer class="ejemplo__footer" id="seccion3">
        <h3>
            yo soy un footer 
        </h3>
    </footer>